body {
    /* font-family: 'JetBrains Mono', sans-serif; */
    padding-top: 0px;
    margin: 0px;
    background-color: #ffffff; /* pure white */
    color: #111111;
}

#header {
    background-color: #ffffff; /* pure white */
    margin: 0;
    padding-top: 0px;
}

#header h1 {
    font-size: 55px;
    padding-top: 30px;
    margin: 0px;
    text-align: left;
}

#about {
    background-color: #f2d23c; /* yellow (Mondrian-like) */
}

#publications {
    background-color: #1f4aa8; /* blue (Mondrian-like) */
    color: #ffffff; /* readability */
}

#working_papers {
    background-color: #c53a2f; /* red (Mondrian-like) */
    color: #ffffff; /* readability */
}

/*
#projects {
    background-color: #d5f7f6;
}
*/

#projects h5 {
    
}

/* swapped footer/contact scheme */
#contact {
    background-color: #111111; /* black */
    color: #ffffff;            /* white text */
}

#contact h1 {
    
}

#about h1 {
    
}

#footer {
    background-color: #ffffff; /* white */
    margin-bottom: 0;
    color: #111111;            /* black text */
}

.navbar {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.navbar-custom {
    background-color: #ffffff !important; /* pure white */
}

.row {
    padding-left: 30%;
    padding-right: 30%;
}

.container-fluid {
    padding: 40px;
}

.btn-primary {
    background: #111111;
    border: #111111;
    margin-bottom: 5px;
    color: #ffffff;
}

/* removed hover coloring */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #111111;
    border-color: #111111;
}

@media (max-width: 768px) {
    #header h1 {
        text-align: center;
        font-size: 65px;
    }
    #header p {
        text-align: center;
    }
    .row {
        padding-left: 5%;
        padding-right: 5%;
    }
}
