body {
    /* font-family: 'JetBrains Mono', sans-serif; */
    padding-top: 0px;
    margin: 0px;

    background-color: oklch(1 0 0);
    color: oklch(0 0 0);
}

#header {
    background-color: oklch(1 0 0);
    margin: 0;
    padding-top: 0px;
}

#header h1 {
    font-size: 55px;
    padding-top: 30px;
    margin: 0px;
    text-align: left;
}

#about {
    background-color: oklch(1 0 0);
    color: oklch(0 0 0);
}

#publications {
    background-color: oklch(1 0 0);
    color: oklch(0 0 0);
}

#working_papers {
    background-color: oklch(1 0 0);
    color: oklch(0 0 0);
}

/*
#projects {
    background-color: #d5f7f6;
}
*/

#projects h5 {
    
}

#contact {
    background-color: oklch(1 0 0);
    color: oklch(0 0 0);
}

#contact h1 {
    
}

#about h1 {
    
}

#footer {
    background-color: oklch(1 0 0);
    margin-bottom: 0;
    color: oklch(0 0 0);
}

.navbar {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.navbar-custom {
    background-color: oklch(1 0 0) !important;
}

.row {
    padding-left: 30%;
    padding-right: 30%;
}

.container-fluid {
    padding: 40px;
}

/* Keep buttons as-is (true black, blocky shape, no hover recolor) */
.btn-primary {
    background: #000000;
    border: #000000;
    margin-bottom: 5px;
    border-radius: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: white;
    background-color: #000000;
    border-color: #000000;
}

@media (max-width: 768px) {
    #header h1 {
        text-align: center;
        font-size: 65px;
    }
    #header p {
        text-align: center;
    }
    .row {
        padding-left: 5%;
        padding-right: 5%;
    }
}
