body {
    /* font-family: 'JetBrains Mono', sans-serif; */
    padding-top: 0px;
    margin: 0px;

    /* Pure white backdrop */
    background-color: #ffffff;
    color: #111111;
}

#header {
    background-color: #ffffff;
    margin: 0;
    padding-top: 0px;
}

#header h1 {
    font-size: 55px;
    padding-top: 30px;
    margin: 0px;
    text-align: left;
}

/* Softened (less intense) Mondrian-like primaries (pure hex) */
#about {
    background-color: #ddc348; /* softened yellow (from #f2d23c) */
}

#publications {
    background-color: #34569f; /* softened blue (from #1f4aa8) */
    color: #ffffff;
}

#working_papers {
    background-color: #b9473e; /* softened red (from #c53a2f) */
    color: #ffffff;
}

/*
#projects {
    background-color: #d5f7f6;
}
*/

#projects h5 {

}

/* swapped footer/contact scheme, with softened “black” */
#contact {
    background-color: #252525; /* softened black (from #111111) */
    color: #ffffff;
}

#contact h1 {

}

#about h1 {

}

#footer {
    background-color: #ffffff;
    margin-bottom: 0;
    color: #111111;
}

.navbar {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.navbar-custom {
    background-color: #ffffff !important;
}

.row {
    padding-left: 30%;
    padding-right: 30%;
}

.container-fluid {
    padding: 40px;
}

/* Keep only the blockier SHAPE; revert font-related button styling */
.btn-primary {
    background: #252525;     /* softened black */
    border: #252525;
    margin-bottom: 5px;

    border-radius: 0;        /* blocky shape */
}

/* No hover recolor */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: white;
    background-color: #252525;
    border-color: #252525;
}

@media (max-width: 768px) {
    #header h1 {
        text-align: center;
        font-size: 65px;
    }
    #header p {
        text-align: center;
    }
    .row {
        padding-left: 5%;
        padding-right: 5%;
    }
}
