body {
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 20px;
}

.navbar a {
    padding-left: 25px;
}

#header {
    background-color: #b3d9ff;
    margin-bottom: 0px;
}

#header h1 {
    font-size: 80px;
    padding-top: 30px;
}

#about {
    background-color: #cce6ff;
}

#projects {
    background-color: #e6f2ff;
}

#projects h5 {
    
}

#contact {
    background-color: #ffffff;
}

#contact h1 {
    
}

#about h1 {
    
}

#footer {
    background-color: ghostwhite;
}

.container-fluid {
    padding: 40px;
}

.btn-primary {
    background: black;
    border: black;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: white;
    background-color: lightgrey;
    border-color: lightgrey; 
}

